net: "<net>"
test_initialization: false

base_lr: <lr>
momentum: 0.9
weight_decay: 0.0005

lr_policy: "fixed"
display: 1000
max_iter: <max_iter>
snapshot: 10000
snapshot_prefix: "model/m_<gpu>"
solver_mode: GPU
type: "RMSProp"
rms_decay: 0.98
